name: Nodejs

on:
  push:
    branches: ["main"]
  schedule:
    - cron: "20 */1 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Instalar dependências do sistema
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            wget \
            gnupg \
            ca-certificates \
            apt-transport-https \
            xvfb \
            && sudo rm -rf /var/lib/apt/lists/*

      - name: Instalar Google Chrome
        run: |
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add - \
          && echo "deb [arch=amd64] https://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google.list \
          && sudo apt-get update \
          && sudo apt-get install -y google-chrome-stable \
          && sudo rm -rf /var/lib/apt/lists/*

      - name: Instalar dependências
        run: npm ci

      - name: Cookies
        env:
          COOKIES: ${{ secrets.COOKIES }}
          LOCALSTORAGE: ${{ secrets.LOCALSTORAGE }}
        run: |
          echo "$COOKIES" > cookies.json
          echo "$LOCALSTORAGE" > localstorage.json

      - name: Executar node index.js
        env:
          URL: ${{ secrets.URL }}
          LOGIN: ${{ secrets.LOGIN }}
          SENHA: ${{ secrets.SENHA }}
          PROXY: ${{ secrets.PROXY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        timeout-minutes: 10
        run: xvfb-run --auto-servernum -- node --trace-warnings rox.js
        # run: node cpick.js

      - name: Upload da captura
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: screenshot
          path: screen.png
